section {
	width: 800px;
	margin: 50px auto;
	font-size: 0;
}

div {
	display: inline-block;
	border: 1px solid black;
}

.green, .blue {
	width: 50%;
	height: 200px;
	display: inline-block;
}
.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.gray, .black, .orange {
	width: 33.3%;
	height: 300px;
}

.gray {
	background-color: gray;
}

.black {
	background-color: black;
}

.orange {
	background-color: orange;
}